# Environments
*venv
venv*
# -----------------------------------------------------------------------------
# IDE files
.idea/*
.vscode/*
# -----------------------------------------------------------------------------
# Byte-compiled
__pycache__/
# -----------------------------------------------------------------------------
# Directory for temporary storage of files
/tmp/
# -----------------------------------------------------------------------------
# Configuration variables
/.env
# -----------------------------------------------------------------------------
# Database
db.sqlite3
/postgres_data/
# -----------------------------------------------------------------------------